.form-players {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.field {
    margin-bottom: 5px;
}

.field label {
    width: 100px;
    margin-right: 5px;
    display: inline-block;
}

.submit {
    width: 150px;
}