.user-list {
  padding: 20px;
  background-color: var(--background-card);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.user-list h2 {
  font-size: 2rem; 
  margin-bottom: 20px;
  color: var(--text-primary);
  text-align: center;
}

.user-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-list ul li {
  margin-bottom: 10px;
}

.user-list ul li .user-link {
  display: block;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #4b4b4b;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-list ul li .user-link:hover {
  background-color: var(--background-dark_red);
  transform: scale(1.03);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-details {
  font-size: 1rem;
  color: #ddd;
  line-height: 1.5;
}