.dropdown-scope {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}

.dropdown-scope select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--text-secondary);
    border-radius: 0.375rem;
    background-color: var(--background-card);
    color: var(--text-secondary);
    cursor: pointer;
}