:root {
    --background-color: #f4f4f4;
    --background-card: #ffffff;
    --background-red: #ef4444;
    --background-dark_red: #ef4444;
    --text-primary: #ef4444;
    --text-secondary: #4b4b4b;
  }
  
  .userProfile {
      max-width: 500px;
      margin: 50px auto;
      padding: 30px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .userProfile h2 {
      text-align: center;
      color: var(--text-primary);
      margin-bottom: 20px;
    }
    
    .userImage {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .userImage img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 2px solid #ddd;
    }
    
    .userField {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    .userField strong {
      color: #555;
    }
    
    .userField span {
      color: #888;
    }
    
    .userProfile p {
      text-align: center;
      color: #555;
    }
  
    .edit-profile-button {
      display: inline-block;
      display: flex;
      justify-content: center;
      padding: 10px 20px;
      background-color: var(--background-red);
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .edit-profile-button:hover {
      background-color: var(--background-dark_red);
      transform: scale(1.05);
    }
  
    .password-button {
      display: inline-block;
      display: flex;
      justify-content: center;
      padding: 10px 20px;
      background-color: var(--background-red);
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    .password-button:hover {
      background-color: var(--background-dark_red);
      transform: scale(1.05);
    }

    .imageButton {
        display: inline-block;
        justify-content: center;
        background-color: #888;
        padding: 10px 10px;
        border: none;
        color: white;
        padding: 10px 12px;
        text-align: right;
        text-decoration: none;
        margin: 4px 12px;
        border-radius: 5px;
        margin-top: 10px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
      }
      
      .imageButton:hover {
        background-color: #555;
        transform: scale(1.05);
      }
      
      .uploadButton {
        display: flexbox;
        justify-content: center;
        padding: 10px 20px;
        background-color: var(--background-red);
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }
      
      .uploadButton:hover {
        background-color: var(--background-dark_red);
        transform: scale(1.05);
      }