/* ProfilePage.css */

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h2 {
    color: #ef4444;
}

/* Properly style file input */
.input-container {
    position: relative;
    margin-top: 20px;
}

.input-container input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ef4444;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ef3636;
}

#imagePreview {
    margin-top: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.base64-result {
    width: 100%;
    margin-top: 20px;
}
