:root {
    --background-color: #f4f4f4;
    --background-card: #ffffff;
    --background-red: #31aa3b;
    --background-dark_red:#31aa3b;
    --text-primary: #31aa3b;
    --text-secondary: #4b4b4b
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: var(--text-secondary);
}

.edit-product {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.edit-product h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    gap: 20px;
}

.edit-product form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.edit-product label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.edit-product input[type="text"],
.edit-product input[type="number"],
.edit-product textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.edit-product textarea {
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.update-button,
.delete-button,
.add-stock-button {
    flex: 1;
    padding: 10px;
    background-color: var(--background-red);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.update-button:hover,
.delete-button:hover,
.add-stock-button:hover {
    background-color: var(--background-dark_red);
    transform: scale(1.05);
}

.update-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.image-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 300px;
}

.image-preview img {
    max-width: 125%;
    max-height: 125%;
    object-fit: contain;
    margin-top: 15%;
}

.image-load {
    margin-bottom: -10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: var(--background-red);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.image-load:hover {
    background-color: var(--background-dark_red);
}